
<!-- Starts Welcome Section -->

<div class="about-section blog-dtls">
  <div class="container">
   <h1 class="blgpart">{{postTitle.0.post_title }}</h1>
   <ol class="breadcrumb">
    <li><a title="" href="">Home</a></li>
    <li><a href="">Latest News</a></li>
    <li class="current">{{postTitle.0.post_title }}</li>
  </ol>
  <!-- <h2>{{postTitle.0.blog_category.category_name}}</h2> -->
  <div class="row">
    <div class="col-md-8 blog-detail-left">
      {{{ blogContent.0.post_description  }}}
      <div class="saboxplugin-wrap">
        <div class="logo-box">
          <img src="../dist/frontend_cms/images/icon.png"> 
        </div>
        <div class="authorname">
          {{ blogContent.0.post_author  }}
          <p>Buy and sell digital assets instantly safely and securely with ZERO fees. Choose between doing it yourself or invest in a managed cryptocurrency portfolio.&nbsp;<a href="/signup">Click here to create a free account.</a></p>
        </div>
      </div>
    </div>


    <!-- featured and latest enws portion -->
    <div class="col-md-4">
      {{!-- <div class="search">
        <form action="/action_page.php">
          <input type="text" placeholder="Type and hit enter …" name="search">
          <button type="submit"><i class="fa fa-search"></i></button>
        </form>
      </div> --}}
      <div class="rgt-box">
        <h4>Latest News</h4>
        <ul class="latest-works-widget">


          {{#each latest_news}}
          <li>
            <div class="work-widget-thumb">
              <div class="image-overlay"></div>
              <a href="{{base_url}}/{{this.post_slug}}">
                {{#if_eq this.featured_image ""}}
                    <img class="img-responsive" src="/dist/img/blog_default.png" alt="{{this.post_title}}">
                {{else}}   
                    {{#if_eq this.featured_image null}}
                        <img class="img-responsive" src="/dist/img/blog_default.png" alt="{{this.post_title}}">
                    {{else}}
                        {{#if_neq this.featured_image ""}}
                            <img src="/blog_images/{{this.featured_image}}" class="img-responsive" alt="{{this.post_title}}">
                        {{/if_neq}}
                    {{/if_eq}}    
                {{/if_eq}}
              </a>
            </div>      
            <div class="work-widget-content">
              <h6><a href="{{base_url}}/{{this.post_slug}}">{{this.post_title}}</a></h6>
              <p>{{dateFormat this.createdAt "MMMM DD, YYYY"}}</p>                    
            </div>
          </li>
          {{/each}}


        </ul>
      </div>
      <div class="rgt-box">
        <h4>Featured Posts</h4>
        <ul class="latest-works-widget">
          {{#each featured_posts}}
          <li>
            <div class="work-widget-thumb">
              <div class="image-overlay"></div>
              <a href="{{base_url}}/{{this.post_slug}}">
                {{#if_eq this.featured_image ""}}
                    <img class="img-responsive" src="/dist/img/blog_default.png" alt="{{this.post_title}}">
                {{else}}   
                    {{#if_eq this.featured_image null}}
                        <img class="img-responsive" src="/dist/img/blog_default.png" alt="{{this.post_title}}">
                    {{else}}
                        {{#if_neq this.featured_image ""}}
                            <img src="/blog_images/{{this.featured_image}}" class="img-responsive" alt="{{this.post_title}}">
                        {{/if_neq}}
                    {{/if_eq}}    
                {{/if_eq}}
              </a>
            </div>      
            <div class="work-widget-content">
              <h6><a href="{{base_url}}/{{this.post_slug}}">{{this.post_title}}</a></h6>
              <p>{{dateFormat this.createdAt "MM DD,YYYY"}}</p> 
            </div>
          </li>
          {{/each}}
        </ul>
      </div>
    </div>



  </div>
</div>
</div>

    <!-- Ends Welcome Section -->