<section class="content-header">
	<h1>Deposit Methods List</h1>
	<ol class="breadcrumb">
		<li>
			<a href="/admin/dashboard"><i class="fa fa-dashboard"></i> Home</a>
		</li>
		<li class="active">Deposit Methods List</li>
	</ol>
</section>

<section class="content container-fluid">
	<!-- Starts Deposit Funds -->
	<div class="deposit-funds">
		<div class="row">
			<div class="col-md-12">
				<div class="box">
					<!-- /.box-header -->
					<div class="box-body">
						<table id="pending_transactions_table" class="table table-striped res-table">
							<thead>
								<tr>
									<th>ID</th>
									<th>Deposit Method Name</th>
									<th>Status</th>
                                    <th>Action</th>
								</tr>
							</thead>
							<tbody>
								{{#each deposit_methodsData}}
								<tr>
									<td>{{this.id}}</td>
                                    <td>{{this.method_name}}</td>
                                    <td>{{#if_eq this.status '1'}} Enabled {{else}} Disabled {{/if_eq}}</td>
                                    <td>
                                        {{#if_eq this.status '1'}}
                                            <button class="btn deposit_disable" type="button" value="{{this.id}}">Click To Disable</button>
                                        {{else}}
                                            <button class="btn deposit_enable" type="button" value="{{this.id}}">Click To Enable</button>
                                        {{/if_eq}}
                                    </td>
								</tr>
								{{/each}}
							</tbody>
						</table>
					</div>
				</div>
				{{!-- <a href="/admin/transactions/generate" class="btn btn-info">Generate Excel</a> --}}
			</div>
			<!-- /.box-body -->
		</div>
		<!-- /.box -->
	</div>
	<!-- Ends Deposit Funds -->
</section>