<section class="content-header">
	<h1>All Support List</h1>
	<ol class="breadcrumb">
		<li>
			<a href="/admin/dashboard"><i class="fa fa-dashboard"></i> Home</a>
		</li>
		<li class="active">All Support List</li>
	</ol>
</section>

<section class="content container-fluid">
	<!-- Starts Deposit Funds -->
	<div class="deposit-funds">
		<div class="row">
			<div class="col-md-12">
				<div class="box">
					<!-- /.box-header -->
					<div class="box-body">
						<table id="all_support_table" class="table table-striped res-table">
							<thead>
								<tr>
									<th>ID</th>
									<th>Name</th>
									<th>Subject</th>
									<th>Date</th>
									<th>Action</th>
								</tr>
							</thead>
							<tbody>
								{{#each all_data}}
								<tr>
									<td>{{this.id}}</td>
									<td>{{this.User.first_name}} {{this.User.last_name}}</td>
									<td>{{this.title}}</td>
									<td>{{dateFormat this.createdAt "MM-DD-YY"}}</td>
									<td>
										<a href="/admin/support_details/{{this.id}}">View Details</a>
									</td>
								</tr>
								{{/each}}
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<!-- /.box-body -->
		</div>
		<!-- /.box -->
	</div>
	<!-- Ends Deposit Funds -->
</section>